<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

<head>
  {{ partial "head.html" . }}
</head>

<body>
{{ partial "header.html" . }}
<article>
    <h1><a href="{{ .Permalink }}">{{ .Title }}</a></h1>
    <p class="subtitle">{{ .Date.Format "Jan 2, 2006 " }}</p>
    
    {{ .Content }}

    {{ if .Prev }}
    <a href="{{.Prev.Permalink}}"> Prev</a> 
    {{ end }}
    &nbsp;&nbsp;
    {{ if .Next }}
    <a href="{{.Next.Permalink}}"> Next</a> 
    {{ end }}
</article>
  <script src="{{ .Site.BaseURL }}/js/slim.js"></script>
  {{ with .Site.Params.AnalyticsID }}{{ partial "analytics.html" . }}{{ end }}
</body>

</html>
