<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

<head>
  {{ partial "head.html" . }}
</head>

<body>
  {{ partial "header.html" . }}

  <ul id="post-list">
    {{ $paginator := .Paginate (where .Data.Pages "Type" "post") }} {{ range $paginator.Pages }}

    <li><article class="hentry">
      <header> 
        <h2><a href="{{ .Permalink }}">{{ .Title }}</a></h2> 
      </header>
      <div class="entry-content"> 
        {{ if .Site.Params.Summary }}
        {{ .Summary }}
        <a class="read-more" href="{{.RelPermalink}}">&hellip;</a>
        {{ else if .Site.Params.Content }}
        {{ .Content }}
        {{ end }}

      </div><!-- /.entry-content -->

      <footer class="post-info">
        <abbr class="published" title="{{ .Date.Format "Jan 2, 2006" }}"> {{ .Date.Format "Jan 2, 2006" }} </abbr>
        {{ if .Params.tags }}
          <ul>
         {{ range .Params.tags }}
         <li>#<a href="/tags/{{ . | urlize }}">{{ . }}</a>&nbsp;</li>
         {{ end }}
         </ul>

        {{ end }}
      </footer><!-- /.post-info -->

    </article></li>
    {{ end }}
  </ul><!-- /#posts-list -->
  {{ partial "pagination.html" . }}

{{ partial "footer.html" . }}
{{ with .Site.Params.AnalyticsID }}{{ partial "analytics.html" . }}{{ end }}
</body>

</html>
